var status = "<%= @status %>";
if(status == "true"){
  var href = $('.uniqueClassForPasswordTemplate').attr("href");
  document.location.href = href;
  $('.passwordconfirmationDialog').removeClass('uniqueClassForPasswordTemplate');
  $(".ui-dialog-titlebar-close").click();
  var is_consultation_session_controller = "<%= @current_controller_name && @current_controller_name == "consultation_session" %>";
  if (is_consultation_session_controller == "true"){
    $('#phr_section').replaceWith("<div id='phr_section'><%= escape_javascript(render(:partial => 'layouts/passconf/phr_section' )) %></div>");
    $( "#phr_click_id" ).on('click', function(e) {
      var dialog = $( "#phr_file_preview" ).removeClass('hide').dialog({
        title: "View PHR",
        height: 600,
        width: 600,
        modal: true,
        opacity:0.3,
        position: { my: "left top", at: "left bottom" },
        resizable: false,
        show: { effect: "blind", duration: 800 },
        buttons: [
          {
            text: "OK",
            click: function() {
              $( this ).dialog( "close" );
            }
          }
        ]
      });
    });
    $( "#phr_click_id").click();
  }
}
else{
  $('.password_modal').empty();
  html = '<div class="alert alert-danger" >Invalid password.</div>';

  $('.password_modal').append(html);
  $('.password_modal').append("<%= escape_javascript(render(:partial => 'layouts/passconf/password_confirmation' )) %>");
  $('.password_modal').css('overflow-y', 'hidden');
}

