<div class="modal-body">
  <div class="bootbox-body">
    <%= form_for(User.new, url: 'passconf/password_confirmations/password_authentication', :html => {:method => :post, :class => "new_user_registration password_form form-inline"}, remote: true) do |f| %>
      <span class="block input-icon input-icon-right">
        <%= f.password_field :password, :class => 'password_register', :placeholder => "Password", autocomplete: "off", :id => "password_auth_dialog" do %><i class="icon-lock"></i><% end %>
        <input name="user[link_name]" type="hidden" value='<%= @link_name %>'>
        <input name="user[controller_name]" type="hidden" value='<%= @current_controller_name %>'>
        <button type="submit" name="commit" class="btn btn-small btn-info no-radius btn_position pull-right">
          <i class="icon-unlock"></i>
          Submit
        </button>
        <%#= f.submit "Submit", class: "btn btn-sm btn-success btn_position pull-right"  do %>
      <%#end %>
      </span>

    <% end %>
  </div>
</div>
<script>
  /*$("#password_auth_dialog").on("change", function(){
     var my_password = $(this).val();
     var encrypt_pass = $.base64.encode(my_password);
     $(this).val(encrypt_pass);
  });*/
</script>
<style>
  .btn_position{
    margin-top: 20px;
  }
        .password_register{
            margin-top: 20px;
        }
</style>

