<% css_class = current_user.respond_to?(:password_status_phr) ? "" : "passwordconfirmationDialog" %>
Please view the PHR <a href="#" id="phr_click_id" class="<%= css_class %>" data-link-name="phr" data-controller-name="consultation_session">Click</a>
