<!DOCTYPE html>
<html>
<head>
  <title>Passconf</title>
  <%= stylesheet_link_tag    "passconf/application", :media => "all" %>
  <%= javascript_include_tag "passconf/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
